- provide :body_classes, 'home'

%section.home-overlay.overlay.full-screen
  .overlay-inner.full-screen-inner
    .container.full-screen-target
      %h1.overlay-headline
        Settimana dello Studente: insegna quello che sai, impara quello che vuoi.

      .overlay-text-container
        %p.overlay-text
          È giunto il momento di rimettere l'apprendimento in mano agli
          studenti. Con la Settimana dello Studente sarai finalmente il
          protagonista della tua educazione: condividi le tue passioni e
          apprendi dagli altri.

        %blockquote.overlay-text “Costruiamo il nostro futuro. Adesso.”

      .overlay-actions
        = link_to 'Partecipa alla Settimana dello Studente!', new_user_session_path, class: 'btn btn-cta'

    .overlay-arrow-container
      %a(href='#dual')
        = fa_icon 'angle-down', class: 'overlay-arrow'

%section.home-dual#dual
  .container-fluid.home-dual-container
    .row
      .col-xs-12.col-md-6.home-dual-col
        .home-dual-col-content
          %h1.home-dual-title Cosa vuoi imparare oggi?

          %p.lead
            Aerodinamica, musica, softair, cineforum, rompicampi, matematica...
            puoi scegliere quello che vuoi. Materie appassionanti spiegate da
            studenti appassionati.

          = link_to 'Iscriviti a un Corso', (user_signed_in? ? courses_path : new_user_session_path), class: 'btn btn-lg btn-outline'

          .home-dual-faqs.faqs
            .home-dual-faq.faq
              %h4 A quanti corsi posso iscrivermi?

              %p
                I corsi si svolgeranno in tre giorni, e a ogni giornata potrai
                iscriverti a due lezioni diverse. Puoi scegliere di seguire gli
                stessi corsi tutti e tre i giorni, di seguirne sei diversi
                oppure una via di mezzo. Scegli la soluzione che preferisci:
                nessuno ti obbligherà a frequentare un corso che non ti piace.

            .home-dual-faq.faq
              %h4 Cosa serve per l'iscrizione?

              %p
                Per iscriversi a un corso basta essere uno studente del
                = "#{ENV['SITE_NAME']}."
                La partecipazione è del tutto gratuita e aperta a ogni studente.
                Non hai scuse per non venire!

      .col-xs-12.col-md-6.home-dual-col
        .home-dual-col-content
          %h1.home-dual-title O preferisci insegnare?

          %p.lead
            Tutti siamo esperti in un campo. Hai mai immaginato come dev'essere
            stare dall'altra parte della cattedra, poter comunicare le proprie
            idee? Se qualcosa ti dà gioia, condividila!

          = link_to 'Proponi un Corso', (user_signed_in? ? new_course_path : new_user_session_path), class: 'btn btn-lg btn-outline'

          .home-dual-faqs.faqs
            .home-dual-faq.faq
              %h4 Ci sono limiti a ciò che posso insegnare?

              %p
                L'unico requisito è la passione. Puoi insegnare qualunque
                materia che conosci bene; i corsi più belli sono spesso
                proprio i più bizzarri. Tieni a mente che la Didattica
                Alternativa è stata organizzata proprio per liberare
                l'apprendimento dai canoni accademici: non essere timido!

            .home-dual-faq.faq
              %h4 Di quali strumenti posso disporre?

              %p
                Su richiesta, potremo assegnarti una lavagna interattiva
                multimediale (LIM), l'uso della palestra o del campo da gioco
                esterno. La possibilità di usarli dipende dalla loro
                disponibilità, quindi, se hai un corso da presentare, fallo il
                prima possibile.

%section.home-calendar
  %div.home-calendar-icon-container
    = fa_icon 'calendar', class: 'home-calendar-icon'

  - content_for :calendar_entries do
    %dl.list-unstyled.home-calendar-list
      %dt 8:15-09:10
      %dd Discussione di classe

      %dt 09:10-11:05 / 12:10
      %dd Corso socioculturale / Cineforum

      %dt 11:05-11:25
      %dd Intervallo

      %dt 11:25 / 12:10-13:10
      %dd Corso ludiforme

  .container.home-calendar-content-container
    .row
      .visible-xs
        .col-xs-12.col-sm-4.home-calendar-col
          .home-calendar-item
            %h4.home-calendar-title
              16, 17, 18, 19 e 21 dicembre

            = yield :calendar_entries

      .visible-sm.visible-md.visible-lg
        - [16, 17, 18].each do |day|
          .col-xs-12.col-sm-4.home-calendar-col
            .home-calendar-item
              %h4.home-calendar-title
                = day
                dicembre

              = yield :calendar_entries

    .visible-sm.visible-md.visible-lg
      .row
        .col-xs-12.col-sm-8.col-sm-offset-2
          .row
            - [19, 21].each do |day|
              .col-xs-12.col-sm-6.home-calendar-col.home-calendar-col-standalone
                .home-calendar-item
                  %h4.home-calendar-title
                    = day
                    dicembre

                  = yield :calendar_entries
