- provide :title, course.name

.container
  %h1= course.name

  .row
    .col-xs-12.col-md-8
      .strong
        = course.description_html

    .col-xs-12.col-md-4
      .strong
        %p
          %strong= t('controllers.courses.show.category')
          = link_to course.category.name, root_path(params.slice(:by_name).merge(by_category: course.category.id))

        %p
          %strong= t('controllers.courses.show.location')
          = course.location

        - if course.organizers.any?
          %p
            %strong= t('controllers.courses.show.organizers')
            = course.organizers.map(&:full_name).join(', ')

        - if user_signed_in? && course.organizers.include?(current_user)
          %p
            %strong= t('controllers.courses.show.status')
            = course.status

  %h2= t('controllers.courses.show.lessons.title')

  %table.table.table-bordered.table-hover.strong
    %thead
      %tr
        %th #
        %th= t('activerecord.attributes.lesson.starts_at')
        %th= t('activerecord.attributes.lesson.ends_at')
        %th= t('activerecord.attributes.lesson.available_seats')

        - if user_signed_in?
          %th

    %tbody
      - if course.lessons.empty?
        %tr
          %td{colspan: user_signed_in? ? 5 : 4}= t('controllers.courses.show.lessons.empty')
      - else
        - course.lessons.each_with_index do |lesson, index|
          %tr
            %td= index + 1
            %td= lesson.starts_at
            %td= lesson.ends_at
            %td= lesson.available_seats

            - if user_signed_in?
              %td= subscription_link(current_user, lesson)

  - if user_signed_in? && current_user.in?(course.organizers) && course.lessons.any?
    %h2= t('controllers.courses.show.subscriptions.title')

    - course.lessons.each do |lesson|
      %table.table.table-bordered.table-hover.strong
        %thead
          %tr
            %th #
            %th= t('activerecord.attributes.subscription.lesson')
            %th= t('activerecord.attributes.subscription.user')

        %tbody
          - if lesson.subscriptions.empty?
            %tr
              %td(colspan='3')
                = t('controllers.courses.show.subscriptions.empty')
          - else
            - lesson.subscriptions.each_with_index do |subscription, index|
              %tr
                %td= index + 1
                %td
                  = l subscription.lesson.starts_at, format: :long
                  = '-'
                  = l subscription.lesson.ends_at, format: :long
                %td= subscription.user
