- provide :title, course.name

%h1= course.name

.row
  .col-xs-12.col-md-8
    .strong
      = course.description_html

  .col-xs-12.col-md-4
    .strong
      %p
        %strong= t('controllers.courses.show.location')
        = course.location

      - if course.organizers.any?
        %p
          %strong= t('controllers.courses.show.organizers')
          = course.organizers.map(&:full_name).join(', ')

%h2= t('controllers.courses.show.lessons.title')

%table.table.table-bordered.table-hover.strong
  %thead
    %tr
      %th #
      %th= t('activerecord.attributes.lesson.starts_at')
      %th= t('activerecord.attributes.lesson.ends_at')
      %th= t('activerecord.attributes.lesson.available_seats')

      - if user_signed_in?
        %th

  %tbody
    - if course.lessons.empty?
      %tr
        %td(colspan='2')= t('controllers.courses.show.lessons.empty')
    - else
      - course.lessons.each_with_index do |lesson, index|
        %tr
          %td= index + 1
          %td= lesson.starts_at
          %td= lesson.ends_at
          %td= lesson.available_seats

          - if user_signed_in?
            %td
              - if current_user.subscribed_to?(lesson)
                = link_to "#{fa_icon('trash')} #{t('controllers.courses.show.lessons.unsubscribe')}".html_safe, [course, lesson, :subscription], method: :delete, class: 'btn btn-sm btn-danger'
              - else
                = link_to "#{fa_icon('plus')} #{t('controllers.courses.show.lessons.subscribe')}".html_safe, [course, lesson, :subscription], method: :post, class: 'btn btn-sm btn-primary', disabled: (lesson.available_seats <= 0)
