%nav.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      %button.navbar-toggle(data-target='.navbar-collapse' data-toggle='collapse' type='button')
        %span.sr-only= t('layout.toggle_navigation')

        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      = link_to ENV['SITE_NAME'], root_path, class: 'navbar-brand'

    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li{class: ('active' if params[:controller] == 'high_voltage/pages' && params[:id] == 'home')}
          = link_to "#{fa_icon('home', class: 'fa-fw')} #{t('layout.nav.home')}".html_safe, root_path

        %li{class: ('active' if params[:controller] == 'courses')}
          = link_to "#{fa_icon('th-list', class: 'fa-fw')} #{t('layout.nav.courses')}".html_safe, courses_path

      %form.navbar-form.navbar-left{role: 'search', action: courses_path(params.deep_symbolize_keys)}
        - params.slice(:by_category).each_pair do |name, value|
          %input{type: 'hidden', value: value, name: name}

        .form-group
          %label.sr-only(for='course_search_query')= t('layout.course_search.label')

          .input-group
            - if params[:by_name]
              .input-group-btn
                = link_to fa_icon('times', class: 'fa-fw'), courses_path(params.except(:by_name).deep_symbolize_keys), class: 'btn btn-default'

            %input.form-control#course_search_query{name: :by_name, type: 'text', placeholder: t('layout.course_search.placeholder'), value: params[:by_name]}

            .input-group-btn
              %button.btn.btn-secondary#search-submit(type='submit')
                = fa_icon 'search', class: 'fa-fw'

      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li.dropdown
            %a.dropdown-toggle#user-dropdown(href='#' role='button' data-toggle='dropdown')
              = fa_icon 'user', class: 'fa-fw'
              = current_user.full_name
              %span.caret

            %ul.dropdown-menu(role='menu' aria-labelledby='user-dropdown')
              %li{role: 'presentation', class: ('active' if params[:controller] == 'users/registrations' && ['edit', 'update'].include?(params[:action]))}
                = link_to "#{fa_icon('cog')} #{t('layout.nav.edit_profile')}".html_safe, edit_user_registration_path, role: 'menuitem', tabindex: '-1'
              %li{role: 'presentation', class: ('active' if params[:controller] == 'subscriptions' && params[:action] == 'index')}
                = link_to "#{fa_icon('th-list')} #{t('layout.nav.subscriptions')}".html_safe, subscriptions_path, role: 'menuitem', tabindex: '-1'
              %li.divider
              %li{role: 'presentation'}
                = link_to "#{fa_icon('sign-out')} #{t('layout.nav.sign_out')}".html_safe, destroy_user_session_path, method: :delete, role: 'menuitem', tabindex: '-1'
        - else
          %li{class: ('active' if params[:controller] == 'devise/sessions' && ['new', 'create'].include?(params[:action]))}
            = link_to "#{fa_icon('sign-in')} #{t('layout.nav.sign_in')}".html_safe, new_user_session_path
