%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle(data-target='.navbar-collapse' data-toggle='collapse' type='button')
        %span.sr-only= t('layout.toggle_navigation')

        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      = link_to ENV['SITE_NAME'], root_path, class: 'navbar-brand'

    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li.dropdown
            %a.dropdown-toggle#user-dropdown(href='#' role='button' data-toggle='dropdown')
              = fa_icon 'user'
              = current_user.full_name
              %span.caret

            %ul.dropdown-menu(role='menu' aria-labelledby='user-dropdown')
              %li{role: 'presentation', class: ('active' if params[:controller] == 'users/registrations' && ['edit', 'update'].include?(params[:action]))}
                = link_to "#{fa_icon('cog')} #{t('layout.nav.edit_profile')}".html_safe, edit_user_registration_path, role: 'menuitem', tabindex: '-1'
              %li.divider
              %li{role: 'presentation'}
                = link_to "#{fa_icon('sign-out')} #{t('layout.nav.sign_out')}".html_safe, destroy_user_session_path, method: :delete, role: 'menuitem', tabindex: '-1'
        - else
          %li{class: ('active' if params[:controller] == 'devise/sessions' && ['new', 'create'].include?(params[:action]))}
            = link_to "#{fa_icon('sign-in')} #{t('layout.nav.sign_in')}".html_safe, new_user_session_path
