!!!
%html
  %head
    %meta(name='viewport' content='width=device-width, initial-scale=1.0')
    %title= content_for?(:title) ? "#{yield(:title)} | #{ENV['SITE_NAME']}" : ENV['SITE_NAME']

    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

    = csrf_meta_tags

    %link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Montserrat:400,700|Varela+Round')

  %body{class: (content_for?(:body_classes) ? yield(:body_classes) : 'weak')}
    %header
      = render 'layouts/navigation'

    = render 'layouts/messages'

    = yield

    .footer-and-credits
      .org-credits
        .container
          .row
            .img-col
              = link_to image_tag(ENV['ORG_IMAGE'], class: 'img-responsive img-circle img-org'), ENV['ORG_URL']

            .credits-col
              %p.lead
                Questo sito web è gratuitamente offerto dal
                = link_to('Coordinamento Studenti X Municipio', ENV['ORG_URL']) + '.'

      %footer
        .container.container-text
          %h4 Serve una mano?

          %p
            Se hai bisogno di aiuto, contattaci all'indirizzo email
            %strong= mail_to ENV['CONTACT_EMAIL']
            = "o parla con i rappresentanti d'istituto (#{ENV['TEAM_NAMES']})."
            Saremo felici di aiutarti con l'iscrizione, l'organizzazione dei
            corsi e l'utilizzo della piattaforma online.

        .container.container-images
          %ul.list-inline
            - images = (ENV['TEAM_IMAGES'] || '').split('|')
            - urls = (ENV['TEAM_URLS'] || '').split('|')

            - images.each_with_index do |image, index|
              %li
                %a{href: urls[index]}
                  = image_tag image, class: 'team-member img-circle img-responsive'

      .credits
        .container
          Fatto con
          = fa_icon 'heart', class: 'heart-icon'
          da
          = link_to('Desa', 'http://alessandro1997.github.io')
