!!!
%html
  %head
    %meta(name='viewport' content='width=device-width, initial-scale=1.0')
    %title= content_for?(:title) ? "#{yield(:title)} | #{ENV['SITE_NAME']}" : ENV['SITE_NAME']

    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

    = csrf_meta_tags

  %body{class: (content_for?(:body_classes) ? yield(:body_classes) : 'weak')}
    %header
      = render 'layouts/navigation'

    .container
      = render 'layouts/messages'

    = yield

    .footer-and-credits
      %footer
        .container
          .row
            .col-xs-12.col-sm-8
              %h4 Serve una mano?

              %p
                Se hai bisogno di aiuto, contattaci all'indirizzo email
                %strong labriola@karmapen.com.
                Saremo felici di aiutarti con
                l'iscrizione, l'organizzazione dei corsi e l'uso della piattaforma
                online. Oppure vai a parlare con Roccia.

            .col-xs-12.col-sm-4
              = image_tag 'roccia.jpg', alt: 'Se non vieni, Roccia ti sgama.', class: 'roccia img-circle img-responsive'

      .credits
        .container
          Fatto con
          = fa_icon 'heart', class: 'heart-icon'
          da Desa.
